# Python bytecode
__pycache__/
*.py[cod]
*$py.class


# PyInstaller
build/
dist/
*.spec
main.spec

# Packaging
*.egg-info/

# Testing
.coverage
htmlcov/
.cache/
pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment & logs
*.env
*.log

# IDEs / Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
